<template>
  
    <div class="w3-teal">
      <kdb-page v-bind:content="pagecontent" v-bind:title="pagetitle" v-on:save="savecontent($event)"></kdb-page>
      <kdb-references v-bind:references="page_references"></kdb-references>
    </div>

</template>

<script>
  // @ is an alias to /src
  import KdbPage from '@/components/kdb-page.vue'
  import KdbReferences from '@/components/kdb-references.vue'

  // import kdbapi from '@/kdbapimock.js'
  var kdbapi = require(`@/${process.env.VUE_APP_API_LOCATION}`)
   kdbapi=kdbapi.default
    export default {
    name: 'Page',
    components: {
      KdbPage,
      KdbReferences
    },
    data: function () {
      return {
        pagetitle: "",
        pagecontent: "",
        page_references: {}
      }
    },
    mounted: async function() {
      var self = this
      var index = await kdbapi.getIndex()
      self.pages_index=index
      
      if (this.$route.name=="Page") {
        console.log("load in mounted")
        this.load(this.$route.params.pagename)
      }
    },
    watch: {
      $route: function(to, from) {
        // react to route changes...
        console.log("RouteChanged")
        console.log(from)
        console.log(to)
        this.load(to.params.pagename)
      }
    },
    methods: {
      load: function (pagename) {
        this.load_page(pagename)
        this.load_references(pagename)
      },
      load_page: async function (pagename) {
        var self = this
        try {
          var result=await kdbapi.readItem(pagename)
          self.pagecontent= result.content
        } catch(err) {
          console.error(err)
          self.pagecontent=""
       }
        self.pagetitle=pagename
      },
      load_references: async function (pagename) {
        try {
          var references = await kdbapi.getReferences(pagename)
          this.page_references=references
        }
        catch(err) {
          console.error(err)
          this.page_references={}
        }
      },
      savecontent: async function (data) {
        await kdbapi.writeItem(data.title, data.content)
        this.pagetitle=data.title
        this.pagecontent=data.content
        if (data.oldTitle) {
          console.log("Remove page!")
          kdbapi.deleteItem(data.oldTitle)
        }
        
       this.$router.push({ name: 'Page', params: { pagename: data.title } })

      }
    }
  }
</script>

<style>
    .resizable {
      resize: both;
      overflow: scroll;
      border: 1px solid black;
    }
</style>
