<template>
  <div>
    <vue-suggestion :items="items_filtered" 
      v-model="item"
      :setLabel="setLabel"
      :itemTemplate="itemTemplate"
      @changed="inputChange" 
      @selected="itemSelected"
      @enter="enter"
    >
    </vue-suggestion>
  </div>
</template>

<script>
  import VueSuggestion from './vue-suggestion.vue';
  import itemTemplate from './selection-item-template.vue';
  
export default {
  name: 'KdbSearch',
  components: {
    VueSuggestion
  },
  props: {
    items: { required: true },
  },
  data: function () {
    return {
      item: {},
      items_filtered: [],
      searchtext: "",
      itemTemplate
    }
  },
 methods: {
    itemSelected (item) {
      this.item = item;
      this.$emit('selected', item)
      this.searchtext=""
    },
    setLabel (item) {
      return item.name;
    },
    inputChange (text) {
      this.searchtext=text
      console.log(text)
      // your search method
      let r=RegExp(text, "i")
      this.items_filtered = this.items.filter(function(item) {
        return item.name.match(r);
      });
    },
    enter () {
      if (this.searchtext) {
        this.$emit('selected', { name: this.searchtext} )
      }
    },
  },
}
</script>

<style scope>
.vue-suggestion .vs__list {
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #023d7b;
    position: relative;
}
.vue-suggestion .vs__list .vs__list-item {
    background-color: #fff;
    padding: 10px;
    border-left: 1px solid #023d7b;
    border-right: 1px solid #023d7b;
}
.vue-suggestion .vs__list .vs__list-item:last-child {
    border-bottom: none;
}
.vue-suggestion .vs__list .vs__list-item:hover {
    background-color: #eee !important;
}
.vue-suggestion .vs__list,
.vue-suggestion .vs__loading {
    position: absolute;
}
.vue-suggestion .vs__list .vs__list-item {
    cursor: pointer;
}
.vue-suggestion .vs__list .vs__list-item.vs__item-active {
    background-color: #f3f6fa;
}
</style>
