<template>
  <div>
    <div class="w3-display-container" style="position: relative" v-show="!edit">
      <h1>{{ newtitle }}</h1>
      <div class="w3-padding w3-display-right right">
        <i class="ri-pencil-fill" v-on:click="edit = true"
          ><img class="pageIcon" src="../assets/images/edit-icon.png"
        /></i>
        <i
          class="ri-save-3-fill"
          v-on:click="save()"
          v-show="changedContent && !changedTitle"
        >
          <img class="pageIcon" src="../assets/images/save-icon.png"
        />
        </i>
        <i class="ri-save-3-fill" v-on:click="save(true)" v-show="changedTitle">
          <img class="pageIcon" src="../assets/images/move-icon.jpg"
        />
        </i>
        <i class="ri-save-3-fill" v-on:click="save()" v-show="changedTitle">
          <img class="pageIcon" src="../assets/images/copy-icon.png"
        />
        </i>
      </div>
    </div>
    <div class="w3-display-container" style="position: relative" v-show="edit">
      <h1
        class="editable"
        role="textbox"
        contenteditable
        @input="changedTitle = true"
        ref="title"
      >
        {{ title }}
      </h1>
      <div class="w3-padding w3-display-right right">
        <i class="ri-file-list-2-fill" v-on:click="edit_end"
          ><img class="pageIcon" src="../assets/images/markdown-icon.png"
        /></i>
        <i
          class="ri-save-3-fill"
          v-on:click="save()"
          v-show="changedContent && !changedTitle"
          ><img class="pageIcon" src="../assets/images/save-icon.png"
        /></i>
        <i class="ri-save-3-fill" v-on:click="save(true)" v-show="changedTitle"
          ><img class="pageIcon" src="../assets/images/move-icon.jpg"
        /></i>
        <i class="ri-save-3-fill" v-on:click="save()" v-show="changedTitle"
          ><img class="pageIcon" src="../assets/images/copy-icon.png"
        /></i>
      </div>
    </div>

    <kdb-md v-show="!edit" v-bind:content="newcontent"></kdb-md>
    <p
      class="editable"
      v-show="edit"
      role="textbox"
      contenteditable
      @paste="onPaste"
      @input="changedContent = true"
      ref="content"
      style="white-space: pre-wrap"
      v-text="newcontent"
    ></p>
  </div>
</template>

<script>
import KdbMd from "./kdb-md.vue";

export default {
  name: "kdb-page",
  components: {
    KdbMd,
  },
  props: ["title", "content"],
  data: function () {
    return {
      edit: false,
      changedTitle: false,
      changedContent: false,
      newtitle: "",
      newcontent: "",
    };
  },
  created: function () {
    this.newtitle = this.title;
    this.newcontent = this.content;
  },
  watch: {
    content: function (val) {
      console.log("Content changed");
      this.newcontent = val;
      this.changedContent = false;
      this.edit = false;
    },
    title: function (val) {
      console.log("Title changed");
      this.newtitle = val;
      this.changedTitle = false;
      this.edit = false;
    },
  },
  computed: {},
  methods: {
    edit_end() {
      this.edit = false;
      this.newtitle = this.$refs.title.innerText;
      this.newcontent = this.$refs.content.innerText;
    },
    save(move) {
      var oldTitle;
      if (move) {
        oldTitle = this.title;
      }
      this.$emit("save", {
        title: this.$refs.title.innerText,
        oldTitle: oldTitle,
        content: this.$refs.content.innerText,
      });
    },
    onPaste: function (e) {
      // Stop data actually being pasted
      e.preventDefault();

      var clipboardData, pastedData;

      // Get pasted data via clipboard API
      clipboardData = e.clipboardData || window.clipboardData;

      console.log("Available data types:" + clipboardData.types);

      pastedData = clipboardData.getData("text/plain");

      // Format data
      if (clipboardData.types.includes("text/html")) {
        var re =
          /<!--StartFragment--><a href="([^"]*)">([^<].*)<\/a><!--EndFragment-->/;

        var result = re.exec(clipboardData.getData("text/html"));
        if (result) {
          pastedData = "[" + result[2] + "](" + result[1] + ")";
        }
      }

      // Paste data
      const selection = window.getSelection();
      if (!selection.rangeCount) return false;
      selection.deleteFromDocument();
      selection.getRangeAt(0).insertNode(document.createTextNode(pastedData));

      //Move cursor behind pasted data
      selection.collapseToEnd();

      this.changedContent = true;
    },
  },
};
</script>

<style>
img {
  max-width: 100%;
  max-height: 25px;
  cursor: pointer;
}
.right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}

.editable {
  background-color: #cccccc;
}
.w3-display-right.right > i {
  margin-right: 20px;
}
</style>
