<template>
  <router-link v-bind:to="link">{{ link }}</router-link>
</template>


<script>
  export default {
    name: "kdb-link",
    props: ["link"],
    data: function () {
      return {
      }
    },
    created: function() {
    },
    methods:{
    },
  }
</script>
