<script>
  import marked from "../node-modules/marked"
  export default {
   name: 'markdown',
    props: ["content"],
    data: function () {
      return {
        parsedcontent: undefined,
        links: undefined,
        selectedlink: 0,
        renderfunc: undefined
      }
    },
    watch: {
    },
    created: function() {
      this.parse()
      var _this=this
      document.addEventListener('keyup', (e) => {
        
        console.log("Event")
        if (e.key === "k") {
          this.up();
        }
        else if (e.key === "j") {
          this.down();
        }
      });
      
    },
    watch: {
      content: function (val) {
        this.parse()
        console.log("Updated")
      },
    },
    methods:{
      parse : function() {
        var links=this.links=[]
      
        var counter=0
        
        function replacer(match, title, relation, offset, string){
          var counter = links.length
          var id="kdblink"+counter;
          var replaced = '<kdb-link v-on:url-event="$emit(\'url-event\', $event)" v-bind:selected="selectedlink == ' + counter + '" link="'+title+'" id="' + id + '">' + title + '</kdb-link>';
          links.push({
            id: id,
            title: title
          })
          return replaced
        }
        
        newstring=marked(this.content).replace(/\[\[([^\[\]\|]+)\|?([^\[\]]*)\]\]/g, replacer)
        this.parsedcontent = "<div>" + newstring + "</div>"
        var res = Vue.compile(this.parsedcontent)
        this.renderfunc = res.render;
      },
      down: function (up) {
        var direction = up ? -1 : 1;
        var selected=this.selectedlink+direction;
        if (selected<0) selected=0;
        if (selected>=this.links.length) selected=this.links.length-1;
        Vue.set(this, "selectedlink", selected);
        this.$emit('selected-link', this.links[selected].title)
        
        var element=document.getElementById(this.links[selected].id);
        if (direction==1) {
          element.scrollIntoView({block: "nearest", behavior: "smooth"});
        }
        else {
          element.scrollIntoView({block: "nearest", behavior: "smooth"});
        }
      },
      up: function () {
        this.down(true)
      }

    },
    render: function(createElement) {
      return this.renderfunc(createElement)
    }
  }
</script>
