<template>
  <div style="background-color: coral">
    Note: This is just a demo instance. Changes won't be stored and are lost
    after page reload.
  </div>

  <div id="app">
    <kdb-search :items="pages_index" @selected="itemSelected"> </kdb-search>

    <div class="w3-teal">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import KdbSearch from "./components/kdb-search.vue";
var kdbapi = require(`./${process.env.VUE_APP_API_LOCATION}`);
kdbapi=kdbapi.default

export default {
  name: "App",
  components: {
    KdbSearch,
  },
  data: function () {
    return {
      pages_index: [],
      searchstring: "",
    };
  },
  mounted: async function () {
    var self = this;
    var index = await kdbapi.getIndex();
    self.pages_index = index;
  },
  watch: {},
  methods: {
    itemSelected: function (item) {
      console.log("Selected: " + item.name);
      this.$router.push({ name: "Page", params: { pagename: item.name } });
    },
  },
};
</script>

<style>
.resizable {
  resize: both;
  overflow: scroll;
  border: 1px solid black;
}

</style>
